 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-1: hsl(217, 54%, 11%);
    --Very-dark-blue-2: hsl(216, 50%, 16%);
    --Very-dark-blue-3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Very-dark-blue-1);
    font-family: 'Outfit', sans-serif;
}

.container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 400px;
    background-color: var(--Very-dark-blue-2);
    border-radius: 10px;
}

.imgcontainer{
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin: 5px
}
.secondcontainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.title{
    color: var(--White);
    text-align: left;
    font-weight: 600;
}

.description{
    color: var(--Soft-blue);
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 300;
}

.valuecontainer{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    font-size: 11px;
    font-weight: 400;
}

.threshholdvalue{
    color: var(--Cyan);
    display: flex;
    align-items: center;
}
.timer{
    color: var(--Soft-blue);
    display: flex;
    align-items: center;
}

.attribute{
display: flex;
align-items: center;
font-size: 12px;
}

.attributeimgcontainer{
    width: 20px;
height: 20px;
border: var(--White) solid 1px;
border-radius: 50%;
}

.attributeimg{
width: 20px;
height: 20px;


}
.attributename{
color: var(--Soft-blue);
display: flex;
}

.attributefullname{
    color: var(--White);
    }

